{% load static %}

{% block title %}{% endblock title %}

{% block main-content %}
<style>
    body {
        background: linear-gradient(#a4f0f9,#fff7f9);
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .card {
        
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 30px;
        text-align: center;
        max-width: 400px;
        width: 100%;
    }

    .display-5 {
        color: #007bff;
    }

    .lead {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .text-muted {
        font-size: 14px;
    }

    .img-fluid {
        max-width: 100%;
        height: auto;
        margin-top: 20px;
        mix-blend-mode: darken;
    }

</style>
<div class="container">
    <div class="row my-5">
        <div class="col-sm-8 offset-sm-2 text-center">
            <div class="card shadow p-5" id="ggj">
                <h2 class="display-5 mb-4">Password Reset Email Sent!</h2>
                <p class="lead">We've sent an email to your registered email address with instructions.</p>
                <p class="text-muted">Didn't receive the email?<a href="{% url 'password_reset' %}" style="text-decoration: none;">Try again</a>.</p>
                <img src="{% static '/img/back.gif' %}" alt="Email Sent" class="img-fluid mt-4" style="max-width: 300px;">
                
            </div>
        </div>
    </div>
</div>


{% endblock main-content %}