{% extends "base.html" %}
{% load static %}

{% block title %}Change Password{% endblock title %}

{% block main-content %}
<style>
    body {
        background: linear-gradient(#a4f0f9,#fff7f9);
    }
    .giphy-embed {
        mix-blend-mode: darken;
    }
</style>
<div class="container my-5">
    <div class="row">
        <h3>Welcome {{request.user.username|capfirst}}</h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="#" class="btn btn-primary">Change Password Done</a></li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1 text-center">
            <h3>Password Changed Successfully🥳..!!</h3>
            <div>
                <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="300" height="300" frameborder="0" class="giphy-embed" allowFullScreen></iframe>
            </div>
        </div>
    </div>
</div>

{% endblock main-content %}