{% load static %}

{% block title %}{% endblock title %}

{% block main-content %}
<style>
    body {
        background: linear-gradient(#a4f0f9, #fff7f9);
    }
    .reset-container {
        margin-top: 50px; 
        margin-left: 450px;
    }

    .reset-card {
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 30px;
        text-align: center;
        max-width: 600px;
        width: 100%;
    }

    .reset-card h3 {
        color: #007bff;
    }

    .reset-card hr {
        border-top: 1px solid #ccc;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .reset-card iframe {
        width: 100%;
        max-width: 400px; 
        height: 300px; 
        border: 0;
    }
    .giphy-embed {
        mix-blend-mode: darken;
    }
</style>
<div class="container reset-container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <div class="reset-card">
                <h3>Reset Password Completed!</h3>
                <hr>
                <div>
                    <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="300" height="300" frameborder="0" class="giphy-embed" allowFullScreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    setTimeout(function () {
        window.location.href = "{% url 'login' %}";
    }, 5000);  
</script>
{% endblock main-content %}
